/* Font */
@font-face {
    font-family: "ttcommons-black";
    src: url("../fonts/eot/TTCommons-Black.eot");
    src: url("../fonts/eot/TTCommons-Black.eot?#iefix")
    format("embedded-opentype"),
  /* url("../fonts/woff2/TTCommons-Black.woff2") format("woff2"), */
  /* url("../fonts/woff/TTCommons-Black.woff") format("woff"), */
  url("../fonts/ttf/TTCommons-Black.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-black-italic";
    src: url("../fonts/eot/TTCommons-BlackItalic.eot");
    src: url("../fonts/eot/TTCommons-BlackItalic.eot?#iefix")
    format("embedded-opentype"),
  /* url("../fonts/woff2/TTCommons-BlackItalic.woff2") format("woff2"), */
  /* url("../fonts/woff/TTCommons-BlackItalic.woff") format("woff"), */
  url("../fonts/ttf/TTCommons-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-bold";
    src: url("../fonts/eot/TTCommons-Bold.eot");
    src: url("../fonts/eot/TTCommons-Bold.eot?#iefix")
    format("embedded-opentype"),
  url("../fonts/woff2/TTCommons-Bold.woff2") format("woff2"),
  url("../fonts/woff/TTCommons-Bold.woff") format("woff"),
  url("../fonts/ttf/TTCommons-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-bold-italic";
    src: url("../fonts/eot/TTCommons-BoldItalic.eot");
    src: url("../fonts/eot/TTCommons-BoldItalic.eot?#iefix")
    format("embedded-opentype"),
  url("../fonts/woff2/TTCommons-BoldItalic.woff2") format("woff2"),
  url("../fonts/woff/TTCommons-BoldItalic.woff") format("woff"),
  url("../fonts/ttf/TTCommons-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-demi-bold";
    src: url("../fonts/eot/TTCommons-DemiBold.eot");
    src: url("../fonts/eot/TTCommons-DemiBold.eot?#iefix")
    format("embedded-opentype"),
  url("../fonts/woff2/TTCommons-DemiBold.woff2") format("woff2"),
  url("../fonts/woff/TTCommons-DemiBold.woff") format("woff"),
  url("../fonts/ttf/TTCommons-DemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-demi-bold-italic";
    src: url("../fonts/eot/TTCommons-DemiBoldItalic.eot");
    src: url("../fonts/eot/TTCommons-DemiBoldItalic.eot?#iefix")
    format("embedded-opentype"),
  url("../fonts/woff2/TTCommons-DemiBoldItalic.woff2") format("woff2"),
  url("../fonts/woff/TTCommons-DemiBoldItalic.woff") format("woff"),
  url("../fonts/ttf/TTCommons-DemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-extra-bold";
    src: url("../fonts/eot/TTCommons-ExtraBold.eot");
    src: url("../fonts/eot/TTCommons-ExtraBold.eot?#iefix")
    format("embedded-opentype"),
  /* url("../fonts/woff2/TTCommons-ExtraBold.woff2") format("woff2"), */
  url("../fonts/woff/TTCommons-ExtraBold.woff") format("woff"),
  url("../fonts/ttf/TTCommons-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-extra-bold-italic";
    src: url("../fonts/eot/TTCommons-ExtraBoldItalic.eot");
    src: url("../fonts/eot/TTCommons-ExtraBoldItalic.eot?#iefix")
    format("embedded-opentype"),
  url("../fonts/woff2/TTCommons-ExtraBoldItalic.woff2") format("woff2"),
  url("../fonts/woff/TTCommons-ExtraBoldItalic.woff") format("woff"),
  url("../fonts/ttf/TTCommons-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-extra-light";
    src: url("../fonts/eot/TTCommons-ExtraLight.eot");
    src: url("../fonts/eot/TTCommons-ExtraLight.eot?#iefix")
    format("embedded-opentype"),
  url("../fonts/woff2/TTCommons-ExtraLight.woff2") format("woff2"),
  url("../fonts/woff/TTCommons-ExtraLight.woff") format("woff"),
  url("../fonts/ttf/TTCommons-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-extra-light-italic";
    src: url("../fonts/eot/TTCommons-ExtraLightItalic.eot");
    src: url("../fonts/eot/TTCommons-ExtraLightItalic.eot?#iefix")
    format("embedded-opentype"),
  url("../fonts/woff2/TTCommons-ExtraLightItalic.woff2") format("woff2"),
  url("../fonts/woff/TTCommons-ExtraLightItalic.woff") format("woff"),
  url("../fonts/ttf/TTCommons-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-italic";
    src: url("../fonts/eot/TTCommons-Italic.eot");
    src: url("../fonts/eot/TTCommons-Italic.eot?#iefix")
    format("embedded-opentype"),
  url("../fonts/woff2/TTCommons-Italic.woff2") format("woff2"),
  url("../fonts/woff/TTCommons-Italic.woff") format("woff"),
  url("../fonts/ttf/TTCommons-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-light";
    src: url("../fonts/eot/TTCommons-Light.eot");
    src: url("../fonts/eot/TTCommons-Light.eot?#iefix")
    format("embedded-opentype"),
  url("../fonts/woff2/TTCommons-Light.woff2") format("woff2"),
  url("../fonts/woff/TTCommons-Light.woff") format("woff"),
  url("../fonts/ttf/TTCommons-Light.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-light-italic";
    src: url("../fonts/eot/TTCommons-LightItalic.eot");
    src: url("../fonts/eot/TTCommons-LightItalic.eot?#iefix")
    format("embedded-opentype"),
  url("../fonts/woff2/TTCommons-LightItalic.woff2") format("woff2"),
  url("../fonts/woff/TTCommons-LightItalic.woff") format("woff"),
  url("../fonts/ttf/TTCommons-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-medium";
    src: url("../fonts/eot/TTCommons-Medium.eot");
    src: url("../fonts/eot/TTCommons-Medium.eot?#iefix")
    format("embedded-opentype"),
  url("../fonts/woff2/TTCommons-Medium.woff2") format("woff2"),
  url("../fonts/woff/TTCommons-Medium.woff") format("woff"),
  url("../fonts/ttf/TTCommons-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-medium-italic";
    src: url("../fonts/eot/TTCommons-MediumItalic.eot");
    src: url("../fonts/eot/TTCommons-MediumItalic.eot?#iefix")
    format("embedded-opentype"),
  url("../fonts/woff2/TTCommons-MediumItalic.woff2") format("woff2"),
  url("../fonts/woff/TTCommons-MediumItalic.woff") format("woff"),
  url("../fonts/ttf/TTCommons-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-regular";
    src: url("../fonts/eot/TTCommons-Regular.eot");
    src: url("../fonts/eot/TTCommons-Regular.eot?#iefix")
    format("embedded-opentype"),
  url("../fonts/woff2/TTCommons-Regular.woff2") format("woff2"),
  url("../fonts/woff/TTCommons-Regular.woff") format("woff"),
  url("../fonts/ttf/TTCommons-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-thin";
    src: url("../fonts/eot/TTCommons-Thin.eot");
    src: url("../fonts/eot/TTCommons-Thin.eot?#iefix")
    format("embedded-opentype"),
  url("../fonts/woff2/TTCommons-Thin.woff2") format("woff2"),
  url("../fonts/woff/TTCommons-Thin.woff") format("woff"),
  url("../fonts/ttf/TTCommons-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "ttcommons-thin-italic";
    src: url("../fonts/eot/TTCommons-ThinItalic.eot");
    src: url("../fonts/eot/TTCommons-ThinItalic.eot?#iefix")
    format("embedded-opentype"),
  url("../fonts/woff2/TTCommons-ThinItalic.woff2") format("woff2"),
  url("../fonts/woff/TTCommons-ThinItalic.woff") format("woff"),
  url("../fonts/ttf/TTCommons-ThinItalic.ttf") format("truetype");
}

/** General classes **/
body {
  margin: 0;
  background-color: #f9f9f9!important;
}

.custom-input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #E6F5FB;
  outline: none;
}

.error-message {
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
}

.input-group .error-message {
  display: none;
}


/* Error Styling */

.form-group.error label {
  color: #cc0033;
}

.form-group.error .fields {
  border-bottom: 1px solid #cc0033;
  outline: none;
}

.form-group.error.error-message {
  display: inline-block;
}

.form-group.error {
  color: #cc0033;
}

.container-components {
  margin-left: 245px;
  padding: 30px;
}

.login-map-background {
  background: url('../../assets/images/city-back.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/** Accordion **/
.vcp--expandable .vcp__header {
  background-color: white!important;
  border-bottom: 5px solid #E6F5FB!important;
  color: #37CEB7;
  font-size: 22px;
  border-top: none!important;
  height: 55px!important;
}

.vcpg {
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
  border-bottom: none!important;
}

.vcpg .vcp__body {
  border-top: none!important;
  border-bottom: none!important;
}

.vcp__header-icon {
  color: black;
}

@media screen and (max-width: 768px) {
  .vcp--expandable .vcp__header {
		/* margin-top: 10px; */
    font-size: 15px;
	}
}


@media screen and (max-width: 500px) {
  .container-components {
    margin-left: 0;
    padding: 30px;
  }

  .vcp--expandable .vcp__header {
		/* margin-top: 10px; */
    font-size: 15px;
	}
}

.custom-btn {
  background: #37CEB7 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 10px #00000029;
  border-radius: 7px;
  font-size: 17px;
  letter-spacing: 0px;
  color: #FFFFFF;
  width: 148px;
  border: transparent;
  padding: 5px;
  cursor: pointer;
  transition: all .3s;
}

.custom-btn:hover {
  box-shadow: 0px 15px 25px -5px rgba(darken(#37CEB7, 40%));
  transform: scale(1.03)
}

.custom-btn:focus {
  outline: none;
}

.custom-btn:active {
  box-shadow: 0px 4px 8px rgba(darken(#37CEB7, 30%));
  transform: scale(.95);
}

.custom-btn:disabled,
.custom-btn[disabled] {
  /* border: 1px solid #999999; */
  background-color: #cccccc;
  color: #FFFFFF;
  transition: unset;
  cursor: not-allowed;
  transform: none;
}
